

<img :[src]= "cheminImage">
<button (click)="precedent()">precedent</button>
<button (click)="suivant()" >suivant</button>

<!-- <input  [value]="username" (input)="username = $event.target.value"/> -->
<input  [value]="username" (input)="username = $event.target.value"/>
<input type="text" value={{affichePrenom}} readonly/>
<button (click)="afficherprenom()">afficher input</button>
<input [value]="tache" (input)="tache = $event.target.value"/>
<button class="btn btn-primary" (click)="ajouterTache(tache)"> ajouter tache</button>



<table class="table table-dark table-striped">
  <thead >
    <tr>
      <th scope="column">index</th>
      <th scope="column">taches</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of taches; let i = index">
      <th scope="row" ><div [ngClass]="rouge[i]"  (click)="test(i)">{{i}}</div></th>
      <td><div [ngClass]="rouge[i]"  (click)="test(i)">{{item}}</div></td>
    </tr>

  </tbody>

</table>
  <!-- <li  >
  <div [ngClass]="rouge[i]"  (click)="test(i)">{{item}}</div>
  </li>
</ul> -->

<button (click)="supprimerTache()">Supprimer tache</button>

<input (input)="index = $event.target.value"/>
<button (click)="getElement(index)">Get tache by index</button>
